<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="refreshIncidencias($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Barra de búsqueda -->
  <ion-searchbar *ngIf="displayIncidencia.length > 0" [debounce]="1000" (ionChange)="filtrarIncidencias($event)" placeholder="Buscar por ID o contenido" style="margin-top: 10px;"></ion-searchbar>

  <ion-grid *ngFor="let i of displayIncidencia">
    <ion-row> 
      <ion-col>
        <ion-card color="light">
          <div 
          [ngStyle]="{
            'height': '5px',
            'background-color': getUrgencyColor(i.urgency)
          }">
          </div>
        
          <ion-card-header>
            <ion-row style="align-items: center;">
            <ion-col><ion-card-title><strong>ID: {{i.id}}</strong></ion-card-title></ion-col>
            </ion-row>
            
            <ion-card-subtitle style="margin-bottom: 10px;"><ion-text [innerHTML]="decodeHtml(i.title)"></ion-text></ion-card-subtitle>
            <ion-text><i class="bi bi-calendar-date" style="margin-bottom: 5px;"></i> {{ formatDate(i.begin) }}</ion-text>
          </ion-card-header>
        
          <ion-card-content>
            <ion-text [innerHTML]="decodeHtml(i.content)" color="medium"></ion-text>
          </ion-card-content>
          <div style="display: flex; margin-inline: 10px; margin-bottom: 10px;">
            <ion-button color="primary" style="width: 50%;" (click)="getDetalleTicket(i.id)">Detalle</ion-button>
            <ion-button color="danger" style="width: 50%;" (click)="actualizarUbicacion(i)">{{ i.movimiento.length > 0 ? i.movimiento[0].movimiento : 'En Camino' }}
            </ion-button>
            
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
    <ion-button size="small" *ngIf="detalleTicket.length > 0 || idticketSelect" style="display: flex; position: fixed; top: 65px; left: 10px; z-index: 1000; --border-radius: 100px; height: 45px;" (click)="volverAtras()">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  <div class="ion-text-center" *ngIf="detalleTicket.length > 0 || idticketSelect">
    <br>
    <ion-card-title class="tituloP" style="font-size: 18px; font-weight: 600;">DETALLE TICKET: {{ idticketSelect }}</ion-card-title>
  </div>
  
  <div *ngFor="let f of detalleTicket">
    <ion-card [ngStyle]="{ 'background-color': getTipoColor(f.tipo) }" style="padding: 0; margin-bottom: 20px; border: 1px solid rgba(0, 0, 0, 0.150);">
      <ion-card-content [ngStyle]="{ 'background-color': getTipoColor(f.tipo) }" style="padding: 0;">
        <ion-list [ngStyle]="{ 'background-color': getTipoColor(f.tipo) }">
          <!-- Encabezado del mensaje -->
          <ion-item [ngStyle]="{ '--background': getTipoColor(f.tipo) }" lines="none" class="ion-text-start" style="align-items: center; ">
            <img style="width: 20px; height: 20px; border-radius: 50%;" alt="User avatar" src="https://danielsurf.com/wp-content/uploads/2023/02/account.png" />
            <ion-card-title style="margin-left: 10px; font-size: 13px; color: var(--ion-text-color);">
              {{ f.name }}
            </ion-card-title>
            <ion-label slot="end" style="font-size: 12px;"> {{formatDate(f.date)}} </ion-label>
          </ion-item>
          
          <!-- Contenido del mensaje -->
          <ion-item [ngStyle]="{ '--background': getTipoColor(f.tipo) }" lines="none" style="padding: 0;">
            <ion-text [innerHTML]="decodeHtml(f.content)"></ion-text>
          </ion-item>          
          <ion-item *ngIf="f.begin !== '.'" lines="none" style="padding: 10px; --background: rgba(0, 0, 0, 0.100); --border-radius: 5px; margin-top: 10px;">
            <ion-label slot="start" style="font-size: 10px;">Inicio: {{ f.begin }}</ion-label>
            <ion-label slot="end" style="font-size: 10px;">Fin: {{f.end}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  

  
  <br>
</ion-content>