.tituloP {
    background-color: #000e76;
    color: white;
    text-align: center;
    font-weight: 500;
}

ion-card {
    box-shadow: none; /* Sin sombra */
    border: 1px solid #e0e0e0; /* Borde suave */
}


  
  
  