<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar *ngIf="busquedaGuias" [debounce]="1000" (ionChange)="filtrarTicket($event)" placeholder="Buscar por ID"
    style="margin-top: 10px;"></ion-searchbar>

  <div *ngIf="!selectedGuia && filtroTicketArray.length > 0" class="ion-text-center">
    <div>
      <ion-grid>
        <ion-row style="display: flex; align-items: center; justify-content: space-around;">
          <ion-text style="font-weight: 600; font-size: 16px; margin-inline: 10px;">GUIAS DESPACHADAS:</ion-text>
          <ion-text style="font-weight: 600; background-color: #ffb938; color: rgb(0, 0, 0); border-radius: 50px; padding: 0px 20px; font-size: 25px;">{{guiaArray.length}}</ion-text>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card-title style="font-size: 18px; font-weight: 600;">SELECCIONE UNA GUIA</ion-card-title>
  </div>

  <ion-list *ngIf="displayGuias.length > 0">
    <ion-item *ngFor="let guia of displayGuias">
      <ion-label>
        <ion-grid>
          <ion-row style="align-items: center;">
            <ion-col class="ion-text-center">
              <ion-text style="font-size: 20px;"><strong>GUIA:</strong> {{ guia.guia }}</ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-button size="default" shape="round" (click)="onGuiaSelect(guia.guia)">Ver detalle</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-text-center" *ngIf="filtroTicketArray.length === 0 && !isLoading && !selectedGuia && displayGuias.length === 0">
    <ion-text>No hay tickets disponibles</ion-text>
  </ion-list>

  <ion-list *ngIf="selectedGuia && !isLoading">
    <ion-card-title style="font-size: 18px; font-weight: 600; margin-top: 10px;">DETALLE GUIA: {{ selectedGuia?.guia }}</ion-card-title>
    <ion-text style="margin-top: 10px; text-align: center;"><strong>TICKETS ASOCIADOS</strong></ion-text>
    
    <div *ngFor="let ticket of selectedGuia?.ticket">
      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <strong style="text-align: center; display: block;">{{ ticket.id }}</strong>
        <ion-button fill="clear" shape="round" style="margin-left: 10px;" (click)="onTicketSelect(ticket.id)">
          <ion-icon slot="icon-only" *ngIf="selectedTicket?.id === ticket.id && mostrarDetalle" name="eye-off"></ion-icon>
          <ion-icon slot="icon-only" *ngIf="selectedTicket?.id !== ticket.id || !mostrarDetalle" name="eye"></ion-icon>
        </ion-button>
      </div>  

      <!-- Mostrar las notas del ticket -->
      <div *ngIf="selectedTicket && selectedTicket.id === ticket.id">
        <div *ngFor="let nota of selectedNotas">
          <p>Nota ID: {{ nota.id }}</p>
          <p>Item Type: {{ nota.itemtype }}</p>
          <p>Items ID: {{ nota.items_id }}</p>
        </div>
      </div>
    </div>

    <ion-item class="ion-text-center">
      <ion-button style="width: 100%; height: 50px;" *ngIf="selectedGuia" (click)="volverListTicket()">
        <ion-icon style="margin-right: 5px; font-size: 20px;" name="arrow-back-circle-outline"></ion-icon>Volver a la lista
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [disabled]="infiniteScrollDisabled" threshold="100px" (ionInfinite)="loadMoreTickets($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más guias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
