.btn-ayuda{
    --background: #00000000;
    --background-hover: #00000000;
    --background-activated: #00000000;
    --background-focused: #00000000;
    --box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}