<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <br>
  <ion-grid *ngFor="let ayuda of displayAyuda">
    <ion-row> 
      <ion-col>
        <ion-card-title style="font-weight: 700; text-align: center;">{{ayuda.titulo}}</ion-card-title>
        <br>
        <div style="margin-inline: 20px; white-space: pre-wrap; text-align: center;">{{ayuda.texto}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-item-divider>
    <ion-button style="width: 100%; height: 50px;" (click)="volverAtras()"><ion-icon style="margin-right: 5px; font-size: 20px;" name="arrow-back-circle-outline"></ion-icon>Volver a la lista</ion-button>
  </ion-item-divider>
</ion-content>