ion-card-title{
    background-color: #000e76;
    color: white;
    text-align: center;
    font-weight: 500;
}
ion-label{
    font-size: 12px;
}

.custom-datetime{
    height: 100%;
    width: 50%;
}