<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div class="ion-text-center">
      <h3 style="font-weight: 700;">Número de tickets totales: {{ ticketsArray?.length || 0 }}</h3>
    </div>
      <ion-list class="ion-text-center" *ngIf="ticketsArray && ticketsArray.length > 0">
        <ion-item class="ion-text-center" *ngFor="let ticket of ticketsArray">
          <ion-text>ID: {{ ticket }}</ion-text>
          <ion-col>
            <input type="file" (change)="onFileSelected($event, ticket)">
            <ion-button expand="full" (click)="cerrarTicket(ticket)">Cerrar Ticket</ion-button>
          </ion-col>
          <ion-item>
            
          </ion-item>
        </ion-item>
      </ion-list>
      
  </ion-list>
  

</ion-content>

