ion-card-title {
    background-color: #000e76;
    color: white;
    text-align: center;
    font-weight: 500;
}

.custom-button {
    background-color: #4CAF50; /* Color verde personalizado */
    color: white;
    font-weight: bold;
  }
  
  .custom-alert {
    font-size: 1.2em;
  }
  .ticket-detail {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
  }
  
  .ticket-detail.show {
    height: auto;
    opacity: 1;
  }
  